<div class="container">
    <h1>{{ edicion ? 'Editar Herramienta' : 'Crear Herramienta' }}</h1>
  
    <form [formGroup]="form" (ngSubmit)="registrar()">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error *ngIf="form.controls['nombre'].hasError('required')">El nombre es obligatorio.</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="descripcion" />
        <mat-error *ngIf="form.controls['descripcion'].hasError('required')">La descripción es obligatoria.</mat-error>
      </mat-form-field>
      
      
  
      <mat-form-field appearance="fill">
        <mat-label>Proyecto</mat-label>
        <mat-select formControlName="proyect">
          <mat-option *ngFor="let proyect of proyectos" [value]="proyect.idProyecto">
            {{ proyect.idProyecto }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['proyect'].hasError('required')"> Selecciona un proyecto.</mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">{{ edicion ? 'Actualizar' : 'Crear' }}</button>
    </form>
  </div>