<div class="container">
  <div class="title-container">
    <h1>Lista de Tareas por Proyecto</h1>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Definición de columnas de la tabla -->
    <ng-container matColumnDef="idTarea">
      <th mat-header-cell *matHeaderCellDef> ID de Tarea </th>
      <td mat-cell *matCellDef="let tarea"> {{ tarea.idTareas }} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let tarea"> {{ tarea.nombre }} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let tarea"> {{ tarea.descripcion }} </td>
    </ng-container>

    <ng-container matColumnDef="horasEmpleadas">
      <th mat-header-cell *matHeaderCellDef> Horas Empleadas </th>
      <td mat-cell *matCellDef="let tarea"> {{ tarea.horasEmpleadas }} </td>
    </ng-container>

    
    <ng-container matColumnDef="fechaLimite">
      <th mat-header-cell *matHeaderCellDef> Fecha Límite </th>
      <td mat-cell *matCellDef="let tarea">
        {{ tarea.fechaLimite | date: 'dd/MM/yyyy' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="proyecto">
      <th mat-header-cell *matHeaderCellDef> Proyecto </th>
      <td mat-cell *matCellDef="let tarea"> {{ tarea.proyecto.nombre }} </td>
    </ng-container>

    <ng-container matColumnDef="nombreUser">
      <th mat-header-cell *matHeaderCellDef> Nombre del Usuario </th>
      <td mat-cell *matCellDef="let tarea">
        {{ tarea.proyecto.user.nombreUser }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Eliminar">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let revision">
          <button mat-icon-button (click)="eliminar(revision.idTareas)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>
