<div class="container">
    <div class="title-container">
        <h1 class="page-title">📬 Lista de Mensajes</h1>
    </div>

    <div *ngFor="let element of dataSource.filteredData" class="message-card-container">
        <mat-card class="mat-elevation-z4 message-card">
            <mat-card-header>
                <mat-card-title>Mensaje ID: {{ element.idMensaje }}</mat-card-title>
                <mat-card-subtitle>Nombre del usuario: {{ element.user.nombreUser }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p><strong>Contenido:</strong> {{ element.contenido }}</p>
                <p><strong>Fecha:</strong> {{ element.fecha | date: 'dd/MM/yyyy' }}</p>
                <p><strong>Leído:</strong> {{ element.leido ? '✅ Sí' : '❌ No' }}</p>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button color="warn" (click)="eliminar(element.idMensaje)">
                    <mat-icon>delete</mat-icon> Eliminar
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <mat-paginator [pageSizeOptions]="[4, 7, 10]" showFirstLastButtons></mat-paginator>
</div>
