<div class="container">
    <div class="title-container"><h1>Lista de Mensajes</h1></div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
        <ng-container matColumnDef="idMensaje">
            <th mat-header-cell *matHeaderCellDef> ID de Mensaje </th>
            <td mat-cell *matCellDef="let element"> {{element.idMensaje}} </td>
        </ng-container>

        <ng-container matColumnDef="Contenido">
            <th mat-header-cell *matHeaderCellDef> Contenido </th>
            <td mat-cell *matCellDef="let element"> {{element.Contenido}} </td>
        </ng-container>

        <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.Fecha}} </td>
        </ng-container>

        <ng-container matColumnDef="Leido">
            <th mat-header-cell *matHeaderCellDef> Leído </th>
            <td mat-cell *matCellDef="let element"> {{element.Leido ? 'Sí' : 'No'}} </td>
        </ng-container>

        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef> Usuario </th>
            <td mat-cell *matCellDef="let element"> {{element.user.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="accion01">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-raised-button color="primary" [routerLink]="['editarMensaje', element.idMensaje]">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="accion02">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-raised-button color="warn" (click)="eliminar(element.idMensaje)">
                    <mat-icon>delete_sweep</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[4, 7, 10]" showFirstLastButtons></mat-paginator>
</div>
