<div class="container">
  <div  style="text-align: center;margin: 5%;"><h1>Lista de Roles</h1>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID </th>
        <td mat-cell *matCellDef="let element"> {{element.idRol}} </td>
       </ng-container>

       <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}}  </td>
       </ng-container>

       <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
       </ng-container>

       <ng-container matColumnDef="accion01">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element"> <mat-icon (click)="eliminar(element.idRol)" 
            style="color: hsl(4, 97%, 48%); cursor: pointer;">delete</mat-icon> 
        </td>
       </ng-container>

       <ng-container matColumnDef="accion02">
        <th mat-header-cell *matHeaderCellDef> Modificar </th>
        <td mat-cell *matCellDef="let element" [routerLink] = "['ediciones', element.idRol]"> 
          <mat-icon style="color: hsl(4, 97%, 48%); cursor: pointer;">edit</mat-icon>
        </td>
       </ng-container>
      

             
       
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      </table>
    </div>
</div>
